@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800;900&family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: "Poppins", Arial, sans-serif;
}

.icon-style {
  top: 1px;
	position: relative;
}